<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wineberryhalley.mna">
<uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <provider
            android:name=".net.ChalaEdChala"
            android:authorities="${applicationId}.c"
            android:exported="false"
            android:label="LentItemsProvider" />

    </application>
    
</manifest>